In [36]:
import numpy as np
import pandas as pd

users_df = pd.read_csv("cleaned_datasets/users_details_dataset_cleaned.csv")
anime_df = pd.read_csv("cleaned_datasets/anime_dataset_cleaned.csv")
user_score_df = pd.read_csv("cleaned_datasets/user_scores_cleaned.csv")
anime_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19976 entries, 0 to 19975
Data columns (total 29 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Unnamed: 0     19976 non-null  int64
 1   anime_id       19976 non-null  int64
 2   Name           19976 non-null  object
 3   English name   19976 non-null  object
 4   Other name     19976 non-null  object
 5   Score          19976 non-null  object
 6   Genres         19976 non-null  object
 7   Synopsis       19976 non-null  object
 8   Type           19976 non-null  object
 9   Episodes       19682 non-null  float64
 10  Aired          19976 non-null  object
 11  Start Date     16957 non-null  object
 12  End Date       8858 non-null   object
 13  Premiered      19976 non-null  object
 14  Status         19976 non-null  object
 15  Producers      19976 non-null  object
 16  Licensors      19976 non-null  object
 17  Studios        19976 non-null  object
 18  Source         19976 non-null  object
 19  Duration       19976 non-null  object
 20  Rating         19976 non-null  object
 21  Rank           19976 non-null  object
 22  Popularity     19976 non-null  int64
 23  Favorites      19976 non-null  int64
 24  Scored By      19976 non-null  object
 25  Members        19976 non-null  int64
 26  Image URL      19976 non-null  object
 27  Ongoing        19976 non-null  int64
 28  Episodes_Norm  19682 non-null  float64
dtypes: float64(2), int64(6), object(21)
memory usage: 4.4+ MB

In [37]:
# Keep users that are in both CSVs
joined_rating_dataset = pd.merge(user_score_df, users_df, left_on=['user_id', 'Username'], right_on=['Mal ID', 'Username'], how='inner')
joined_rating_dataset = joined_rating_dataset[["user_id", "anime_id", "rating", "Gender", "Location", "Birthday_Date","Joined_Date","Age_Join", "Episodes Watched"]]
joined_rating_dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5239975 entries, 0 to 5239974
Data columns (total 9 columns):
 #   Column            Dtype
---  ------            -----
 0   user_id           int64
 1   anime_id          int64
 2   rating            int64
 3   Gender            object
 4   Location          object
 5   Birthday_Date     object
 6   Joined_Date       object
 7   Age_Join          float64
 8   Episodes Watched  float64
dtypes: float64(2), int64(3), object(4)
memory usage: 359.8+ MB

In [38]:
type(joined_rating_dataset["Birthday_Date"][20])
joined_rating_dataset["Age"] = ((pd.to_datetime('Jan 01, 2024', format='%b %d, %Y') - pd.to_datetime(joined_rating_dataset["Birthday_Date"], format='%Y-%m-%d')) / np.timedelta64(52, 'W'))
joined_rating_dataset = joined_rating_dataset.round()
joined_rating_dataset.head()

,user_id,anime_id,rating,Gender,Location,Birthday_Date,Joined_Date,Age_Join,Episodes Watched,Age
0,1,21,9,Male,United States,1985-03-04,2004-11-05,20.0,8458.0,39.0
1,1,48,7,Male,United States,1985-03-04,2004-11-05,20.0,8458.0,39.0
2,1,320,5,Male,United States,1985-03-04,2004-11-05,20.0,8458.0,39.0
3,1,49,8,Male,United States,1985-03-04,2004-11-05,20.0,8458.0,39.0
4,1,304,8,Male,United States,1985-03-04,2004-11-05,20.0,8458.0,39.0

In [39]:
anime_df = anime_df[["anime_id", "Name", "Genres", "Type", "Start Date", "End Date", "Studios", "Source", "Rank", "Episodes", "Episodes_Norm"]]
joined_rating_dataset = pd.merge(joined_rating_dataset, anime_df, left_on=['anime_id'], right_on=['anime_id'], how='inner')
joined_rating_dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5207686 entries, 0 to 5207685
Data columns (total 20 columns):
 #   Column            Dtype
---  ------            -----
 0   user_id           int64
 1   anime_id          int64
 2   rating            int64
 3   Gender            object
 4   Location          object
 5   Birthday_Date     object
 6   Joined_Date       object
 7   Age_Join          float64
 8   Episodes Watched  float64
 9   Age               float64
 10  Name              object
 11  Genres            object
 12  Type              object
 13  Start Date        object
 14  End Date          object
 15  Studios           object
 16  Source            object
 17  Rank              object
 18  Episodes          float64
 19  Episodes_Norm     float64
dtypes: float64(5), int64(3), object(12)
memory usage: 794.6+ MB

In [40]:
joined_rating_dataset["Episodes"] = joined_rating_dataset["Episodes"].round()
joined_rating_dataset["Age_Join"] = joined_rating_dataset["Age_Join"].round()
joined_rating_dataset.head()

,user_id,anime_id,rating,Gender,Location,Birthday_Date,Joined_Date,Age_Join,Episodes Watched,Age,Name,Genres,Type,Start Date,End Date,Studios,Source,Rank,Episodes,Episodes_Norm
0,1,21,9,Male,United States,1985-03-04,2004-11-05,20.0,8458.0,39.0,One Piece,"Action, Adventure, Fantasy",TV,1999-10-20,NaN,Toei Animation,Manga,55.0,1263.0,0.412865
1,1,48,7,Male,United States,1985-03-04,2004-11-05,20.0,8458.0,39.0,.hack//Sign,"Adventure, Fantasy, Mystery",TV,2002-04-04,2002-09-26,Bee Train,Original,4172.0,26.0,0.008181
2,1,320,5,Male,United States,1985-03-04,2004-11-05,20.0,8458.0,39.0,A Kite,"Action, Drama, Hentai",OVA,1998-02-25,1998-10-25,Arms,Original,UNKNOWN,2.0,0.000327
3,1,49,8,Male,United States,1985-03-04,2004-11-05,20.0,8458.0,39.0,Aa! Megami-sama!,"Comedy, Romance, Supernatural",OVA,1993-02-21,1994-05-17,AIC,Manga,2542.0,5.0,0.001309
4,1,304,8,Male,United States,1985-03-04,2004-11-05,20.0,8458.0,39.0,Aa! Megami-sama! Movie,"Comedy, Romance, Supernatural",Movie,2000-10-21,NaN,AIC,Original,1590.0,1.0,0.000000

In [ ]:
!mkdir cleaned_datasets
joined_rating_dataset.to_csv("joined_datasets/joined_rating_dataset.csv")

mkdir: cleaned_datasets: File exists